@font-face {
  font-family: "Cera Pro Medium";
  src: url("fonts/CeraPro-Medium.eot");
  src: local("Cera Pro Medium"), local("CeraPro-Medium"),
    url("fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/CeraPro-Medium.woff") format("woff"),
    url("fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro Bold";
  src: url("fonts/CeraPro-Bold.eot");
  src: local("Cera Pro Bold"), local("CeraPro-Bold"),
    url("fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/CeraPro-Bold.woff") format("woff"),
    url("fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro Regular";
  src: url("fonts/CeraPro-Regular.eot");
  src: local("Cera Pro Regular"), local("CeraPro-Regular"),
    url("fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/CeraPro-Regular.woff") format("woff"),
    url("fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  color: #1f1f1f;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
p {
  padding: 0 !important;
}
a {
  transition: var(--transition-color);
}
a:hover {
  color: var(--orange);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --black: #1f1f1f;
  --orange: #ff6000;
  --section-margin-top: 40px;
  --section-head-margin-bottom: 16px;
  --section-head-padding-bottom: 16px;
  --transition-color: color 0.2s ease;
  --footer: #f7f7f7;
  --banner-text-line-height: 27px;
}
.top-6 {
  margin-top: 6px;
}

section:not(:first-child) {
  margin-top: var(--section-margin-top);
}
/* section:not(:nth-child(2)){ margin-top: var(--section-margin-top); } */

.top-nav {
  margin-top: 12px;
  padding: 0 24px;
}
.top-nav__list li {
  position: relative;
  cursor: pointer;
}
.top-nav__list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.top-nav__list-li_mobile {
  transition: var(--transition-color);
}
.top-nav__list-li_mobile:hover {
  color: var(--orange);
}
.top-nav__list li a,
.service__title,
.top-nav__list-li_mobile {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-family: "Cera Pro Medium";
  font-size: 15px;
  transition: color 0.2s ease;
}
.top-nav__list li a:hover {
  color: var(--orange);
}
.top-nav__list li:hover .top-nav__list li a {
  color: var(--orange);
}
.top-nav__list li:hover .top-nav__dropdown {
  visibility: visible;
  transform: translateY(4px);
  opacity: 1;
}
/* .top-nav__list li a:hover::after{  } */
.top-nav__list-li_mobile::after {
  content: "";
  background-image: url(img/expand.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 14px;
  margin-left: 4px;
  opacity: 0.7;
}
.top-nav__list li a::after {
  display: none;
  content: "";
  background-image: url(img/arrow_drop_down-black.svg);
  width: 24px;
  height: 22px;
  opacity: 0.7;
  transition: transform 0.3s ease;
}
.top-nav__dropdown {
  display: block;
  list-style: none;
  min-width: 300px;
  padding: 12px 30px;
  background: #ffffff;
  box-shadow: 0px 18px 34px -4px rgba(0, 0, 0, 0.07),
    0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: absolute;
  left: -30px;
  visibility: hidden;
  transform: translateY(8px);
  transition: visibility 0.2s ease, opacity 0.2s ease, transform 0.2s ease;
  opacity: 0;
  z-index: 1001;
}
.top-nav__dropdown_last {
  left: -120px;
}
.top-nav__list_li {
  padding: 12px 0;
}
/* .top-nav__dropdown::after{ 
    content: ''; 
    position: absolute;
    left: 48px;
    top: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    transform: rotate(180deg);
    border-color: rgb(206, 99, 99) transparent transparent; 
} */
.top-nav__dropdown li {
  margin-bottom: 8px;
}
.top-nav__dropdown li:last-child {
  margin-bottom: 0;
}
.top-nav__dropdown li a {
  padding: 4px 0;
  font-size: 14px;
}
.top-nav__dropdown li a::after {
  display: none;
}
.top-nav__dropdown li:first-child a {
  font-family: "Cera Pro Bold";
  padding: 4px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.first {
  margin-top: 80px !important;
}
.first-block {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.main-head {
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 24px;
  color: var(--black);
  font-weight: 300;
  font-family: "Cera Pro Regular";
}
.search-block {
  width: 100%;
}
.search-input-block {
  width: 100%;
  display: flex;
  height: 50px;
  /* padding: 0px 0px; */
  position: relative;
  background: #ffffff;
  opacity: 0.8;
  border: 2px solid var(--orange);
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
}
.suggest-text-block {
  overflow: hidden;
}
.search {
  background: transparent;
  z-index: 10;
  height: 100%;
  border: none;
  padding-left: 20px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color: #000 !important;
  font-family: "Inter" !important;
}
.search-placeholder {
  user-select: none;
  z-index: 9;
  cursor: text;
  font-size: 16px;
  color: #000 !important;
  font-family: "Inter" !important;
  width: 100%;
  font-weight: 500;
  max-height: calc(1 * 23px);
  overflow: hidden;
  max-width: 80%;
  position: absolute;
  left: 20px;
  top: 13px;
  opacity: 0.58;
}
.search-icon {
  display: flex;
  align-items: center;
  padding: 0 16px 0 16px;
  cursor: text;
  user-select: none;
}
.search-icon-close {
  opacity: 0.6;
  cursor: pointer;
  display: none;
}
.search:active {
  outline: none;
}
.search:focus {
  outline: none;
}

.search-suggestions_visible {
  visibility: visible !important;
  opacity: 1 !important;
  transform: scale(1) !important;
}
.search-suggestions {
  transform: scale(0.99);
  background: #ffffff;
  position: absolute;
  display: none;
  /* visibility: hidden; */
  opacity: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 18px 26px -5px rgb(121 121 121 / 45%),
    0px 0px 4px rgba(0, 0, 0, 0.15);
  transition: opacity 0.2s ease, transform 0.2s ease;
  /* 0px 18px 34px -4px rgba(0, 0, 0, 0.07), 0px 0px 2px rgba(0, 0, 0, 0.1); */
  /* 0px 29px 28px -10px rgba(0, 0, 0, 0.13), 0px 0px 5px rgb(0 0 0 / 14%); */
  border-radius: 4px;
}
.selectedSuggest {
  background-color: rgb(89 89 89 / 10%);
}
.suggest-simple .suggest-text-block {
  padding-left: 10px;
}
.suggest-center {
  align-items: center;
}
.suggest-center .suggest-head {
  margin-bottom: 0;
}
.suggest-simple-text {
  padding: 7px 12px;
}
.suggest {
  display: flex;
  padding: 10px 12px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  overflow: hidden;
}
.suggest:hover {
  background-color: rgba(175, 175, 175, 0.1);
}
.suggest-logo {
  margin-right: 8px;
  user-select: none;
  width: 36px;
  height: 36px;
}
.suggest-person {
  padding: 10px 12px;
}
.suggest-avatar {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  background-position: center;
  border-radius: 2px;
  background-size: cover;
  margin-right: 8px;
  user-select: none;
  transition: transform 0.2s ease;
}
.suggest-avatar:hover {
  /* transform: scale(4) translateX(-40px);
    z-index: 200; */
}
.suggest-head {
  font-family: "Inter";
  font-style: normal;
  /* font-weight: 500; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-bottom: 2px;
  color: var(--black);
}
.suggest-label {
  font-family: "Inter";
  font-style: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* font-weight: 500; */
  font-size: 14px;
  /* line-height: 16px; */
  color: var(--black);
  opacity: 0.6;
  letter-spacing: 0.07em;
}

.services-row {
  margin-top: 24px;
  width: 100%;
}
.services {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  align-content: center;
}
.service {
  flex-shrink: 0;
}
.service a {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-decoration: none;
}
.service__title {
  display: block;
  margin-top: 6px;
  transition: color 0.2s ease;
}
.service__logo {
  transition: transform 0.2s ease;
  user-select: none;
}
.service:hover .service__logo {
  transform: translateY(-4px);
}
.service:hover .service__title {
  color: var(--orange);
}

.banner-section {
  margin-top: var(--section-margin-top);
}
.banner-container {
  background: #ffffff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07), 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.banner-container .owl-stage-outer,
.banner-container .owl-stage,
.banner-container .owl-item {
  height: 100%;
}
.banner-arrow {
  padding: 24px;
  position: absolute;
  top: 45%;
  z-index: 100;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 11px 20px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.2);
  background-image: url(img/arrow_left.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.banner-arrow:hover {
  transform: translateY(-1px);
  box-shadow: 0px 11px 24px rgba(0, 0, 0, 0.22), 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.banner-arrow-left {
  background-image: url(img/arrow_left.svg);
  left: -10px;
}
.banner-arrow-right {
  background-image: url(img/arrow_right.svg);
  right: -10px;
}
.banner-slides,
.banner-slide {
  width: 100%;
  height: 100%;
}
.banner-slides {
  display: flex;
  transition: opacity 0.2s ease;
}
.banner-slide {
  display: flex;
  transition: transform 0.2s ease;
}
.banner-image {
  width: 200%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.banner-text-block {
  padding: 24px 28px 24px 36px;
  max-width: 50%;
}
.banner-head {
  max-height: 96px;
  overflow-y: hidden;
}
.banner-head a {
  font-family: "Cera Pro Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: var(--black);
  transition: var(--transition-color);
}
.banner-head a:hover {
  color: var(--orange);
}
.banner-text {
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  overflow-y: hidden;
  line-height: var(--banner-text-line-height);
  margin-top: 14px;
  max-height: calc(var(--banner-text-line-height) * 4);
  /* letter-spacing: 0.03em; */
  color: #1f1f1f;
}
.banner-button {
  display: inline-block;
  font-family: "Cera Pro Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--orange);
  padding: 10px 18px;
  transition: background-color 0.3s ease;
  /* border: 1px solid var(--orange); */
  border: none;
  background-color: #ff60001f;
  cursor: pointer;
  margin-top: 18px;
  border-radius: 4px;
}
.banner-button:hover {
  background-color: #ff620031;
}
.banner-button:active,
.banner-button:focus {
  outline: none;
}
.banner-button:active {
  background-color: #ff620050;
}

.section-padding-block {
  padding: 0 16px;
}
.section-head {
  display: inline-block;
  font-family: "Cera Pro Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  color: var(--black);
  margin-bottom: var(--section-head-margin-bottom);
}
.section-padding-block {
  width: 100%;
}
.main-news-block {
  width: 100%;
}
.main-news-image {
  background-position: center;
  display: block;
  background-size: cover;
  height: 240px;
  max-height: 240px;
  width: 100%;
  border-radius: 4px;
}
.main-news-head {
  margin: 4px 0;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 16px;
  color: var(--black);
  transition: var(--transition-color);
  max-height: calc(30px * 3);
  overflow-y: hidden;
}
.mobile-other-news {
  opacity: 1;
  width: 140px;
  background-color: #fff;
  /* font-family: 'Cera Pro'; */
  color: #828282;
  font-weight: 500 !important;
  margin-bottom: -55px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.main-news-head:hover {
  color: var(--orange);
}
.main-news-text,
.main-news-date,
.news-date {
  /* font-family: 'Inter'; */
  font-style: normal;
  margin-top: 8px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: var(--black);
}
.main-news-date,
.news-date {
  max-height: calc(22px * 1);
  overflow-y: hidden;
}
.main-news-text {
  overflow-y: hidden;
  max-height: calc(22px * 5);
}
/* .news-block:last-child{ margin-bottom: 0; } */
.news-column .news-block:last-child {
  border-bottom: none;
}
.news-block {
  padding-bottom: 14px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 12px;
}
.news-head {
  /* font-family: 'Cera Pro Medium'; */
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--black);
  cursor: pointer;
  transition: var(--transition-color);
}
.news-head:hover {
  color: var(--orange);
}
.news-date {
  font-size: 13px;
}

.announces-section {
  margin-top: 24px !important;
  margin-bottom: 24px;
}
.section-head-divider {
  display: block;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: var(--section-head-padding-bottom);
  padding-bottom: var(--section-head-padding-bottom);
}
/* .section-head-divider{ opacity: 0.1; border: 1px solid #545454;  } */
.an-block {
  width: 100%;
  min-height: 100px;
}
.an-block-row {
  margin-bottom: 32px;
}
.divider {
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  margin: 16px 0;
}
.an-date,
.an-place {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: var(--black);
  margin-top: 8px;
}
.an-place {
  margin-bottom: 0px;
}
/* .an-date{ color: var(--orange) } */
.an-head a {
  /* font-family: 'Cera Pro Medium'; */
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--black);
  transition: var(--transition-color);
  max-height: calc(22px * 2);
  overflow-y: hidden;
}
.an-head {
  max-height: calc(22px * 2);
  overflow-y: hidden;
  /* margin-bottom: 8px; */
}
.an-head a:hover {
  color: var(--orange);
}
.announces-section.mobile .an-block:last-child {
  border-bottom: none;
}

footer {
  background-color: var(--footer);
}
.footer-contacts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 36px 0 16px 0;
}
.footer-link {
  display: block;
  margin-bottom: 12px;
  font-size: 15px;
}
.footer-big-link {
  font-family: "Cera Pro Bold";
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: var(--black);
}
.footer-big-link-last {
  margin-bottom: 24px;
}
.footer-link-block {
  margin-bottom: 20px;
}
.footer-link-block:last-child {
  margin-bottom: 0;
}
.footer-label {
  font-family: "Cera Pro Regular";
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  margin-bottom: 8px;
  display: block;
  text-align: right;
}
.copyright {
  width: 100%;
  border-top: 1px solid #dbdbdb;
  padding: 24px 0;
}
.copyright div {
  font-family: "Cera Pro Regular";
  font-size: 15px;
  line-height: 20px;
  color: var(--black);
  display: block;
}
.copyright div:first-child {
  margin-bottom: 4px;
  font-weight: 700;
}

.dropdowns-container_mobile {
  padding: 0 15px;
}
.top-nav__dropdown_mobile_visible {
  display: block !important;
  /* visibility: visible !important;
    opacity: 1 !important; */
}
.top-nav__dropdown_mobile {
  visibility: visible;
  opacity: 1;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  max-height: 70vh;
  display: none;
  box-shadow: none;
  padding: 0;
  margin-top: 2px;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #ebebeb;
  /* transition: opacity 0.4s ease; */
}
.top-nav__dropdown_mobile li {
  margin: 0;
}
.top-nav__dropdown_mobile li:first-child a {
  padding: 14px 16px;
}
.top-nav__dropdown_mobile li:first-child {
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.158);
}
.top-nav__dropdown_mobile li a {
  font-size: 14px;
  padding: 14px 15px;
  font-family: "Inter";
  font-weight: 500;
  display: block;
  margin: 0;
  transition: background-color 0.3s ease;
}
.top-nav__dropdown_mobile li a:hover {
  background-color: rgb(241, 241, 241);
  color: var(--black) !important;
}
.top-nav__dropdown_mobile li:last-child a {
  /* padding-bottom: 24px; */
}
.top-nav__dropdown_mobile-close-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/close.svg);
  width: 24px;
  height: 24px;
  z-index: 100;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 11%;
}
.black-background {
  width: 100vh;
  height: 100vh;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.white-background {
  z-index: 550;
  width: 100vh;
  height: 7vh;
  position: absolute;
  background-color: #fff;
}

.top-nav__dropdown_mobile-close-btn:hover {
  background-color: #ececec;
}
.services-block {
  min-width: 24%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.services-block:first-child {
  margin-bottom: 28px;
}
.mobile {
  display: none;
}
.banner-mobile {
  display: flex;
  position: relative;
  /* box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07), 0px 0px 2px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  width: 100%;
  height: 400px;
  /* border: 1px solid #00000021; */
  /* overflow: hidden; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 16px 18px;
  align-items: flex-end;
  color: #fff;
}
.banner-mobile-content h2,
.banner-mobile-content p {
  color: #fff;
  overflow: hidden;
  white-space: normal;
  /* white-space: normal !important; */
}
.banner-section-mobile {
  overflow-y: hidden;
}
.mobile-scroller {
  /* display: flex; */
  white-space: nowrap;
  overflow-x: scroll;
  width: 100%;
  justify-content: start;
  padding-bottom: 8px;
  margin-bottom: -8px;
  overflow-y: hidden;
}
/* .mobile-scroller-sidesFade::before{
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 75%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
} */
.banner-item {
  /* width: 90%; */
  display: inline-block;
  margin-right: 4px;
}
.banner-item:first-child {
  margin-left: 8px;
}
.banner-item:last-child {
  margin-right: 8px;
}
.mobile-scroller .news-column {
  display: inline-block;
  white-space: normal;
  width: 80%;
  padding-right: 12px;
  margin-right: 12px;
  /* border-right: 1px solid #ebebeb; */
}
.mobile-scroller .news-column:first-child {
  margin-left: 16px;
}
.mobile-scroller .news-column:last-child {
  margin-right: 8px;
  border-right: none;
}
.news-mobile {
  overflow-y: hidden;
}
.nav-mobile {
  z-index: 550;
  background-color: #fff;
}
.nav-mobile,
.top-nav,
.top-nav__list,
.top-nav__list_li {
  z-index: 550;
}
.bodyNoScroll {
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  .mobile-scroller .news-column:last-child {
    margin-right: 48px;
  }
  .top-nav__dropdown_mobile-close-btn {
    right: 8px;
  }
  .service {
    min-width: 31% !important;
  }
  .service__title {
    font-size: 14px;
  }
  .top-nav__dropdown_mobile {
    max-height: 90vh;
  }
}
@media screen and (max-width: 1000px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .top-nav {
    padding: 0;
    margin-top: 0;
    overflow-y: hidden;
  }
  .nav-mobile {
    display: block;
    margin-top: 0 !important;
  }
  .nav-desktop {
    display: none;
  }
  .search-block {
    z-index: 100;
  }
  .news-column .news-block:last-child {
    border-bottom: 1px solid #ebebeb;
  }
  .news-column:last-child .news-block:last-child {
    border-bottom: none;
  }
  .suggest-label {
    font-size: 13px;
  }
  .search-placeholder {
    left: 16px;
    top: 13px;
  }
  .suggest-person {
    padding: 10px 18px !important;
  }
  section:not(:first-child) {
    margin-top: 18px;
  }
  .top-nav__dropdown_mobile {
    max-height: 89vh;
  }
  .search-icon {
    padding: 0 10px 0 12px;
  }
  .search {
    padding-left: 16px;
  }
  .main-news-text {
    max-height: calc(24px * 5);
    line-height: 24px;
  }
  .main-news-head {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-top: 16px;
    max-height: calc(26px * 3);
  }
  .overlay-gradient {
    display: block;
    /* width: 100%; */
    height: 130px;
    right: -14px;
    top: -70px;
    z-index: 11;
    left: -16px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 98%,
      rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
  }
  .suggest-head {
    /* margin-bottom: 4px; */
    font-size: 15px;
    /* line-height: 20px; */
  }
  .suggest-logo {
    margin-right: 8px;
  }
  .suggest {
    padding: 10px 18px;
  }
  .search-suggestions {
    position: absolute;
    top: -62px;
    left: -16px;
    /* padding: 126px 12px 0; */
    /* padding-top: 114px; */
    right: -16px;
    z-index: 10;
    width: unset;
    max-height: 101vh;
    overflow-y: scroll;
  }
  /* .search-suggestions::before{
        content: '';
        width: 100%;
        height: 200px;
        display: block;
        top: 0;
        position: absolute;
        background-color: #000;
    } */
  .search-input-block {
    z-index: 100;
    position: relative;
  }
  .top-nav__list {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: start;
    margin-bottom: -18px;
    width: 100%;
    padding-bottom: 4px;
  }
  .top-nav__list li {
    padding: 20px 12px;
  }
  .top-nav__list li:first-child {
    padding-left: 16px;
  }
  .top-nav__list li:last-child {
    padding-right: 16px;
  }
  .first {
    margin-top: 12px !important;
  }
  .main-head {
    display: none;
  }
  .services-row-desktop {
    display: none;
  }
  .services-row {
    margin-top: 24px;
  }
  .services {
    justify-content: unset;
    align-items: unset;
    flex-flow: column;
  }
  .service {
    min-width: 28%;
    height: 60px;
  }
  .main-news-block {
    /* padding-bottom: 48px;
        margin-bottom: 22px; */
    padding-bottom: 24px;
    margin-bottom: 18px;
    border-bottom: 1px solid #ebebeb;
  }
  .announces-section {
    margin-bottom: 0 !important;
  }
  .an-block {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    min-height: initial;
  }
  .an-date,
  .an-place {
    line-height: 22px;
  }
  .an-head a {
    /* font-size: 16px; */
  }
  .col-md-3.col-sm-12:last-child .an-block:last-child {
    border-bottom: none;
  }
  .footer-contacts {
    padding: 26px 0 16px;
    display: block;
  }
  .footer-label {
    text-align: start;
  }
  .footer-numbers {
    margin-top: 32px;
  }
  .copyright-sfu {
    font-size: 14px !important;
  }
  .copyright-sfu2 {
    font-size: 12px !important;
    line-height: 18px;
  }
  .copyright {
    padding: 18px 0;
  }
}
